.traingle{
height:0px;
width:0px;
border-top:100px solid transparent;
border-bottom:100px solid transparent;
border-left:100px solid yellow;
/*border-right:100px solid orange;*/
}

.line
{
	height:50px;
	width:20px;
	background:black;
}
.rectangle
{
	height:200px;
	width:200px;
	background:pink;
}


